/*.hidden {
    display: none;
}

*/


#h2,
#h4 {
  display: flex;
  align-items: center;
  margin: -10px 0px;
}

#h2 h2,
#h4 h4 {
  margin-right: 10px;
}

#h4 {
  margin-bottom: -35px;
}
#h4 h4,
#chose {
  font-weight: 200;
}
#chose_div {
  display: flex;
}

#chose,
#won {
  /*display: none;*/
  margin-bottom: -15px;
}
