

img {
    position:absolute;
    width:100vw;
    height: 100vw;
    top:0;
    z-index: -1;
}

#clock {
    margin-top: 60px;
    margin-bottom: 70px;
}
#clock1,
#clock2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    margin-bottom: 20px;
    color: white;
}

#clock2 {
    font-size: 20px;
}


#quote {
    position:absolute;
    bottom:0;
    width:100vw;
    margin-bottom: 30px;
}

#quote span {
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 20px;
}


#weather {
    position:absolute;
    right:0;
    top:0;
    text-align: center;
    padding: 5px;
    border: 2px solid black;
}

#weather span {
    color: white;
    display: block;
}


.login-css{
    display:flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

#greeting {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: white;
    margin-bottom: 15px;
}
#todo-form {
    display:flex;
    align-items: center;
    justify-content: center;
}
#todo-input {
    width: 200px;
    height: 30px;
}

#todo-list {
    color:white;
}

#todo-list li {
    display:flex;
    align-items: center;
    margin-bottom: 10px;
}
#login-button {
    width: 70px;
    height: 40px;
}


#login-input {
    width: 200px;
    height: 40px;
}

button {
    margin-left: 5px;
    background-color: red;
}

ul {
    font-size: 20px;
}

#logout_div {
    display: flex;
    margin-bottom: 70px;
    justify-content: center;
}
#todo-div ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}